h3.organization-name {
  display: inline;
  margin-right: 5px;
}

.is-blank {
  color: gray;
}

.bid-amount-tip-label {
  font-size: 0.8em;
  font-weight: normal;
  color: grey;
  margin-right: 4px;
}

.auction-program {
  font-family: sans-serif;
  font-size: 62.5%;
  margin: 20px 40px 20px 40px;

  .auction-program-bid-group {
    margin-top: 50px;
    .auction-program-bid-group-name {
      text-align: center;
      font-size: 2em;
    }
    .auction-program-bid-group-description {
      font-size: 1.2em;
    }
    .auction-program-bid-group-donation-category-name {
      text-align: center;
      font-size: 1.6em;
      text-decoration: underline;
      margin-top: 40px;
      page-break-after: avoid;
    }
  }

  .auction-program-bid-group-auction-item {
    margin-top: 20px;
    page-break-inside: avoid;
  }

  .auction-program-bid-group-auction-item-detail-header {
    .auction-program-bid-group-auction-item-donation-detail-donor {
      float: left;
      font-style: italic;
    }
    .auction-program-bid-group-auction-item-minimum-bid-amount {
      text-align: right;
      padding-right: 3px;
      .auction-program-bid-group-auction-item-minimum-bid-amount-label {
        @extend .bid-amount-tip-label;
      }
    }
  }

  table.auction-program-bid-group-auction-item-summary {
    width: 100%;
    th.auction-program-bid-group-auction-item-number {
      text-align: left;
      width: 40px;
    }
    th.auction-program-bid-group-auction-item-donation-estimated-value {
      text-align: right;
      font-size: 1.4em;
      .auction-program-bid-group-auction-item-donation-estimated-label {
        @extend .bid-amount-tip-label;
      }
    }
    th.auction-program-bid-group-auction-item-donation-title {
      text-align: left;
      font-size: 1.5em;
    }
  }
}
