h3.organization-name {
  display: inline;
  margin-right: 5px;
}

.is-blank {
  color: gray;
}

.bid-amount-tip-label {
  font-size: 0.8em;
  font-weight: normal;
  color: grey;
  margin-right: 4px;
}

.auction-program {
  font-family: sans-serif;
  font-size: 62.5%;
  margin: 20px 40px 20px 40px;

  .auction-program-cover {
    padding-top: 200px;
    text-align: center;
    page-break-after: always;
    h1.auction-program-cover-title {
      font-size: 3em;
    }
    h2.auction-program-cover-organization {
      font-size: 2em;
    }
    .auction-program-cover-location {
      margin-top: 20px;
      margin-bottom: 40px;
      font-size: 1.5em;
    }
    .auction-program-cover-date {
      font-size: 2em;
    }
  }

  .auction-program-bid-group {
    margin-top: 50px;

    .auction-program-bid-group-preface {
      page-break-inside: avoid;
    }
    .auction-program-bid-group-name {
      text-align: center;
      font-size: 2em;
    }
    .auction-program-bid-group-description {
      font-size: 1.2em;
    }
    .auction-program-bid-group-auction-first-item {
      page-break-inside: avoid;
    }
    .auction-program-bid-group-donation-category-name {
      text-align: center;
      font-size: 1.6em;
      text-decoration: underline;
      margin-top: 40px;
    }
  }

  .auction-program-bid-group-auction-item {
    margin-top: 20px;
    page-break-inside: avoid;
  }

  .auction-program-bid-group-auction-item-detail-header {
    .auction-program-bid-group-auction-item-donation-detail-donor {
      float: left;
      font-style: italic;
    }
    .auction-program-bid-group-auction-item-minimum-bid-amount {
      text-align: right;
      padding-right: 3px;
      .auction-program-bid-group-auction-item-minimum-bid-amount-label {
        @extend .bid-amount-tip-label;
      }
    }
  }

  table.auction-program-bid-group-auction-item-summary {
    width: 100%;
    th.auction-program-bid-group-auction-item-number {
      text-align: left;
      width: 40px;
    }
    th.auction-program-bid-group-auction-item-donation-estimated-value {
      text-align: right;
      font-size: 1.4em;
      .auction-program-bid-group-auction-item-donation-estimated-label {
        @extend .bid-amount-tip-label;
      }
    }
    th.auction-program-bid-group-auction-item-donation-title {
      text-align: left;
      font-size: 1.5em;
    }
  }
}


.bidder-checkout {
  font-family: sans-serif;
  font-size: 62.5%;
  margin: 20px 40px 20px 40px;

  h1 {
    font-size: 2em;
  }

  .bidder-checkout-header {
    font-size: 1.8em;
    td.bidder-checkout-header-number {
      width: 100px;
    }
  }

  table.bidder-checkout-total {
    width: 100%;
    font-size: 2em;
    td.bidder-checkout-total-label {
      text-align: right;
    }
    tr.bidder-checkout-total-balance {
      font-weight: bold
    }
    .bidder-checkout-total-amount, .bidder-checkout-total-balance {
      width: 100px;
      text-align: right;
    }
  }

  table.bidder-checkout-bids {
    td.bidder-checkout-bid-auction-item {
      page-break-inside: avoid;
    }
    td.bidder-checkout-bid-auction-item-number {
      vertical-align: top;
      font-weight: bold;
      font-size: 1.2em;
    }
    .bidder-checkout-bid-auction-item-donation-title {
      font-weight: bold;
      font-size: 1.2em;
    }
    .bidder-checkout-bid-auction-item-donation-description {
      font-style: italic;
    }
    .bidder-checkout-bid-auction-item-amount {
      vertical-align: top;
      font-weight: bold;
      font-size: 1.2em;
      text-align: right;
    }
    .bidder-checkout-bid-auction-item-donors {
      width: 100%;
      .bidder-checkout-bid-auction-item-donors-donor {
        margin-bottom: 10px;
      }
      .bidder-checkout-bid-auction-item-donors-label {
        vertical-align: top;
        width: 50px;
      }
      .bidder-checkout-bid-auction-item-donors-donor-name-and-phone {
        clear: both;
      }
      .bidder-checkout-bid-auction-item-donors-label {
        font-weight: bold;
        padding-right: 20px;
      }
      .bidder-checkout-bid-auction-item-donors-donor-name {
        margin-right: 10px;
      }
      .bidder-checkout-bid-auction-item-donors-donor-phone {
      }
    }
  }
}


.cashier-summary {
  font-family: sans-serif;
  font-size: 62.5%;
  margin: 20px 40px 20px 40px;
  table.cashier-summary-header {
    td.cashier-summary-header-bidder-number, td.cashier-summary-header-bidder-name {
      font-weight: bold;
    }
  }
  table.cashier-summary-details {
    width: 100%;
    td.cashier-summary-details-bid-amount {
      text-align: right;
    }
  }
  table.cashier-summary-total {
    width: 100%;
    font-size: 1.2em;
    td.cashier-summary-total-amount-label, .cashier-summary-total-balance-label {
      text-align: right;
    }
    td.cashier-summary-total-balance, td.cashier-summary-total-amount {
      text-align: right;
    }
    td.cashier-summary-total-balance {
      width: 100px;
      font-weight: bold;
    }
  }
}
