<h4>{{link-to model.name 'organizations.organization.auctions.auction' model}}</h4>

<ul class="auction-management-nav">
  <li>
    {{#link-to 'organizations.organization.auctions.auction.auction-items'}}
      Auction Items
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'organizations.organization.auctions.auction.winning-bids'}}
      Winning Bids
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'organizations.organization.auctions.auction.winning-bidders'}}
      Winning Bidders
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'checkout-printouts'}}
      Checkout Printouts
    {{/link-to}}
  </li>
</ul>

<ul class="resources-nav">
  <li>
    {{#link-to 'organizations.organization.auctions.auction.bidders'}}
      Bidders
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'organizations.organization.auctions.auction.tickets'}}
      Tickets
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'organizations.organization.auctions.auction.payments'}}
      Payments
    {{/link-to}}
  </li>
</ul>

{{outlet}}
