<h4>Bidder</h4>

{{#link-to 'organizations.organization.auctions.auction.bidders.bidder' model}}
  {{format-bidder-name bidder=model}}
{{/link-to}}

<ul>
  <li>
    {{#link-to 'organizations.organization.auctions.auction.bidders.bidder.edit' model}}
      Edit
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'bidder-checkout' model}}
      Bidder Checkout
    {{/link-to}}
  </li>
  <li>
    {{link-to 'Cashier Summary' 'cashier-summary' model}}
  </li>
</ul>

{{outlet}}
