<h4>
  {{#link-to 'organizations.organization.auctions.auction.auction-items.auction-item.bids.bid'}}
    Bid
  {{/link-to}}
</h4>

{{#link-to 'organizations.organization.auctions.auction.auction-items.auction-item.bids.bid.edit'}}
  Edit
{{/link-to}}

{{outlet}}
